<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><% empresa %></title>
  <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
  <h1>DADOS DO CANAL</h1>
  <p>Nome: <%= name %></p>
  <p>Linguagem: <%= lang %></p>
  <p>Empresa: <%= empresa %></p>
  <p>Inscritos: <%= inscritos %></p>
</body>
</html>